@{
    ViewBag.Title = "TEMPO - By Iresco Ltd";
}

<div class="jumbotron">
    
    <h1>Iresco Ltd</h1>
    <p class="lead">Structural Steel Detailing at its very finest. Access your timesheets, create new ones. Get paid.</p>
    <p><a href="@Url.Action("Index", "Timesheet")" class="btn btn-primary btn-lg">Your Timesheets &raquo;</a></p>    
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Saved Timesheets</h2>
        <p>
            Timesheets that you are currently have open.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Timesheet", new { types = 1 })">View Saved &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rejected Timesheets</h2>
        <p>-The boss didnt like these ones, you better fix them!!!</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Timesheet", new { types = 4 })">View Rejected &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <h2>All Timesheets</h2>
        <p>For some reason, you want to see all the timesheets, well here you go!</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Timesheet")">View All &raquo;</a></p>
    </div>
</div>