<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TEMPO.RequestBroker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<appSettings><add key="TEMPO.RequestBroker.TSServices.TimeSheetServices" value="http://localhost/TEMPO.ServiceInterface/TimeSheetServices.asmx"/><add key="TEMPO.RequestBroker.AdminServices.AdminServices" value="http://192.168.0.33/TEMPO.ServiceInterface/AdminServices.asmx"/><add key="TEMPO.RequestBroker.ReportingServices.ReportingService" value="http://192.168.0.33/ReportServer/ReportService.asmx"/></appSettings><applicationSettings>
        <TEMPO.RequestBroker.Properties.Settings>
            <setting name="TEMPO_RequestBroker_ReportingServices_ReportingService" serializeAs="String">
                <value>http://srv:82/ReportServer_SQLEXPRESS/ReportExecution2005.asmx</value>
            </setting>
            <setting name="TEMPO_RequestBroker_AdminServices_AdminServices" serializeAs="String">
                <value>http://localhost:56098/TEMPO.ServiceInterface/AdminServices.asmx</value>
            </setting>
            <setting name="TEMPO_RequestBroker_TSServices_TimeSheetServices" serializeAs="String">
                <value>http://localhost:1185/Tempo.ServiceInterface/TimeSheetServices.asmx</value>
            </setting>
        </TEMPO.RequestBroker.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
