<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <add key="TEMPO.RequestBroker.TSServices.TimeSheetServices" value="http://localhost:56098/TimeSheetServices.asmx"/>
  <add key="TEMPO.RequestBroker.AdminServices.AdminServices" value="http://localhost:56098/AdminServices.asmx"/>
  <add key="TEMPO.Authorization.AuthFramework.AuthorizationServices" value="http://localhost:56098/AuthorizationServices.asmx"/>
  <add key="TEMPO.RequestBroker.ReportingServices.ReportingService" value="http://srv:82/ReportServer_SQLEXPRESS/ReportExecution2005.asmx"/>
  <add key="TEMPO.Authorization.NetworkCredential.RS.UserName" value="administrator"/>
  <add key="TEMPO.Authorization.NetworkCredential.RS.Password" value="Iresco94"/>
  <add key="TEMPO.Authorization.NetworkCredential.RS.Domain" value="irescoltd"/>
	<add key="TEMPO.ApplicationVersion" value="1.4"/>
</appSettings>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
