<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TEMPO.RequestBroker.TSServices.TimeSheetServices" value="http://server:81/TimeSheetServices.asmx"/>
    <add key="TEMPO.RequestBroker.AdminServices.AdminServices" value="http://server:81/AdminServices.asmx"/>
    <add key="TEMPO.Authorization.AuthFramework.AuthorizationServices" value="http://server:81/AuthorizationServices.asmx"/>
    <add key="TEMPO.RequestBroker.ReportingServices.ReportingService" value="http://server:82/ReportServer/ReportService.asmx"/>
    <add key="TEMPO.Authorization.NetworkCredential.RS.UserName" value="temporeports"/>
    <add key="TEMPO.Authorization.NetworkCredential.RS.Password" value="temporeports"/>
    <add key="TEMPO.Authorization.NetworkCredential.RS.Domain" value="server"/>
    <add key="TEMPO.ApplicationVersion" value="1.3"/>
  </appSettings>


</configuration>
